.DS_Store
build-non_contact_tremor-Desktop_Qt_5_5_1_clang_64bit-Debug
non_contact_tremor/non_contact_tremor.pro.user.4834876
build-non_contact_tremor-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
build-non_contact_tremor-Desktop_Qt_5_11_1_MinGW_32bit-Release/
